{% extends 'layout.html' %}

{% block title %}
<title>LOGIN FORM</title>
{% endblock %}


{% block content %}
<div class="container jumbotron">
    <form method="post">
        {% csrf_token %}
        <label for="un"><b>ENTER USERNAME:</b></label>
        <input type="text" id="un" name="un" class="form-control">
        <br><br>
        <label for="pw"><b>PASSWORD:</b></label>
        <input type="password" id="pw" name="pw" class="form-control">
        <br><br>
        <center>
            <input type="'submit" value="LOGIN" class="btn btn-outline-success col-6">
        </center>
    </form>
</div>
{% endblock %}